# Plot Description Based Recommender

In [ ]:
import pandas as pd
import numpy as np

#Import data from the clean file 
df = pd.read_csv('movieeees.csv',usecols=['title','genres','keywords','year'])

#Print the head of the cleaned DataFrame
df.head(13454)

,title,genres,keywords,year
0,Toy Story,"['Animation', 'Comedy', 'Family']","toy story | lead woody , andy toy live happily...",1995
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",jumanji | sibling judy peter discover enchant ...,1995
2,Grumpier Old Men,"['Romance', 'Comedy']",grumpy old man | family wedding reignite ancie...,1995
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']","wait exhale | cheat , mistreat step , woman ho...",1995
4,Father of the Bride Part II,['Comedy'],father bride ii | george bank recover daughter...,1995
...,...,...,...,...
13449,Men of War,"['Action', 'Thriller']","man war | nick gunar burn , jaded hard mercena...",1994
13450,Iron Maiden: Flight 666,"['Documentary', 'Music']",iron maiden : flight 666 | chronological accou...,2009
13451,Good Dick,"['Comedy', 'Drama', 'Romance']","good dick | fidgety , wisecracking video store...",2008
13452,Harry Potter and the Half-Blood Prince,"['Adventure', 'Fantasy', 'Family']",harry potter half blood prince | harry begin s...,2009
13453,Mélo,"['Drama', 'Romance']","mélo | wikipedia , free encyclopedia pierre be...",1986

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42444 entries, 0 to 42443
Data columns (total 4 columns):
title       42444 non-null object
genres      42444 non-null object
keywords    42444 non-null object
year        42444 non-null int64
dtypes: int64(1), object(3)
memory usage: 1.3+ MB

In [ ]:
df = df[df['year'] >= 2011]
df.index = range(len(df.index))

In [ ]:
df.head(33)

,title,genres,keywords,year
0,The Sleepover,"['Comedy', 'Horror']","sleepover | town derry secret , tell new kid ....",2013
1,The Farmer's Wife,['Drama'],"farmer wife | surround invade outsider , farme...",2012
2,A Place at the Table,['Documentary'],"place table | use personal story , powerful do...",2012
3,Romance,"['Romance', 'Drama', 'Comedy']",romance | hot britney spears . hot . party lik...,2012
4,Kingdom Come,['Comedy'],"kingdom come | documentary , kingdom come foll...",2011
5,Camille Claudel 1915,['Drama'],"camille claudel 1915 | winter , 1915 . confine...",2013
6,Da wu sheng,"['Drama', 'Action', 'Romance', 'Foreign']","da wu sheng | 19th century , prince regent qin...",2011
7,Black Gold,"['Adventure', 'Drama']","black gold | arabian peninsula 1930 , war lead...",2011
8,La Cicatrice,['Drama'],la cicatrice | scar draw intense psychological...,2013
9,Dante's Hell Animated,['Animation'],dante hell animate | dante hell animate real t...,2013
10,No One Dies in Lily Dale,['Documentary'],"die lily dale | candid portrayal lily dale , s...",2011
11,Some Days Are Better Than Others,['Drama'],"day | day poetic , character drive film ask go...",2011
12,Just Like Us,[],"like | director hilarious tour dubai beirut , ...",2011
13,Jib,"['Animation', 'Family', 'Foreign']",jib | korean academy film art produce animatio...,2011
14,Beastly,"['Drama', 'Fantasy', 'Romance']",beastly | curse transform handsome arrogant yo...,2011
15,The Green Hornet,"['Action', 'Crime', 'Comedy']","green hornet | britt reid seth rogen , heir la...",2011
16,Season of the Witch,"['Adventure', 'Fantasy', 'Action']",season witch | 14th century crusader return co...,2011
17,Cowboys & Aliens,"['Action', 'Science Fiction', 'Thriller', 'Wes...",cowboy & alien | stranger stumble desert town ...,2011
18,The Dilemma,"['Comedy', 'Drama']",dilemma | longtime friend ronny nick partner a...,2011
19,Limitless,"['Thriller', 'Mystery', 'Science Fiction']",limitless | paranoia fuel action thriller unsu...,2011
20,Zeitgeist: Moving Forward,['Documentary'],"zeitgeist : forward | zeitgeist : forward , di...",2011
21,我知女人心,"['Romance', 'Drama', 'Comedy']","我知女人心 | accident , chauvinistic executive gain...",2011
22,No Strings Attached,"['Comedy', 'Romance']",string attach | emma busy doctor set seemingly...,2011
23,The Lincoln Lawyer,"['Crime', 'Drama', 'Thriller']",lincoln lawyer | lawyer conduct business linco...,2011
24,The Rite,"['Drama', 'Thriller', 'Horror']",rite | seminary student michael kovak colin o'...,2011
25,All Star Superman,"['Animation', 'Action', 'Adventure']",star superman | lex luthor enact plan rid worl...,2011
26,From Prada to Nada,"['Comedy', 'Drama', 'Romance']",prada nada | whimsical fish water story spoile...,2011
27,Sanctum,"['Action', 'Thriller']","sanctum | 3d action thriller sanctum , executi...",2011
28,Cedar Rapids,['Comedy'],cedar rapids | naive midwesterner insurance sa...,2011
29,Gnomeo & Juliet,"['Animation', 'Family']","gnomeo & juliet | version shakespeare play , s...",2011
30,Paul,"['Adventure', 'Comedy', 'Science Fiction']","paul | past 60 year , space travel smart ass p...",2011
31,Drive Angry,"['Fantasy', 'Thriller', 'Action', 'Crime']","drive angry | milton harden felon break hell ,...",2011
32,Rango,"['Animation', 'Comedy', 'Family', 'Western', '...","rango | rango , lose family pet , accidentally...",2011

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10439 entries, 0 to 10438
Data columns (total 4 columns):
title       10439 non-null object
genres      10439 non-null object
keywords    10439 non-null object
year        10439 non-null int64
dtypes: int64(1), object(3)
memory usage: 326.3+ KB

In [ ]:
#df.columns = ['title','genres','year','duration','imdb_score','votes','overview']

In [ ]:
df.shape

(10439, 4)

In [ ]:
df2 = df

In [ ]:
df2 = df2.set_index(['title'])

In [ ]:
df2.loc['Batman v Superman: Dawn of Justice']

genres                     ['Action', 'Adventure', 'Fantasy']
keywords    batman v superman : dawn justice | fear action...
year                                                     2016
Name: Batman v Superman: Dawn of Justice, dtype: object

In [ ]:
df3 = df2.reset_index()

In [ ]:
df4 = df3['title']

In [ ]:
df4 = df4.str.lower()

In [ ]:
df4 = df4.to_frame()

In [ ]:
df3['title'] = df4['title']

In [ ]:
df['keywords'][343]

'future boyfriend | p x497/341 , aka `` pax `` , curious young man order loveless future , travel present day new orleans search romance novelist elizabeth barrett – book come archeological dig year 3127 . hope elizabeth explain concept love , nonexistent time , pax embark adventure fill new discovery . elizabeth introduce pax life year 2011 , fill love , music course , destiny . pax return future deadline , bob , fellow scientist , travel time find . , elizabeth help pax learn love , end confide colleague , play valerie harper , upcoming `` surprise `` engagement .'

In [ ]:
df3.head()

,title,genres,keywords,year
0,the sleepover,"['Comedy', 'Horror']","sleepover | town derry secret , tell new kid ....",2013
1,the farmer's wife,['Drama'],"farmer wife | surround invade outsider , farme...",2012
2,a place at the table,['Documentary'],"place table | use personal story , powerful do...",2012
3,romance,"['Romance', 'Drama', 'Comedy']",romance | hot britney spears . hot . party lik...,2012
4,kingdom come,['Comedy'],"kingdom come | documentary , kingdom come foll...",2011

In [ ]:
# Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df3['keywords'] = df3['keywords'].fillna('')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df3['keywords'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(10439, 33408)

In [ ]:
import timeit
start = timeit.default_timer()

# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine = linear_kernel(tfidf_matrix, tfidf_matrix)


stop = timeit.default_timer()

print('Time: ', stop - start)

Time:  1.4851104

In [ ]:
#import numpy as np

In [ ]:
#np.save('coslg.np', cosine_sim , allow_pickle=True, fix_imports=True)

In [ ]:
#w = np.load('coslg.npy', mmap_mode='r+', allow_pickle=False, fix_imports=True, encoding='ASCII')

In [ ]:
w = cosine

In [ ]:
w.dtype

dtype('float64')

In [ ]:
w.nbytes

871781768

In [ ]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df3.index, index=df3['title']).drop_duplicates()

In [ ]:
df3.iloc[0,0]

'the sleepover'

In [ ]:
# Function that takes in movie title as input and gives recommendations 
def content_recommender(title, cosine_sim=w, df=df3, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]
    #id of title

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df3['title'].iloc[movie_indices]

In [ ]:
#Get recommendations 
s = content_recommender('wrong turn 4: bloody beginnings')

In [ ]:
s.to_list()

["don't breathe",
 'the facility',
 'amber alert',
 'edge of winter',
 "this isn't funny",
 'among friends',
 'enragés',
 'wrong cops',
 'bad turn worse',
 'sightseers']